<!DOCTYPE html>
<html>
<head>
    <title>B.Tech Civil Department</title>
    <style>
        body {
            background-image: url('https://i.pinimg.com/600x315/81/10/e6/8110e63a365279d3f656ff543189dce7.jpg'); /* Set the URL of your first background image here */
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-right: 0%;
        }

        .branch {
            backdrop-filter:blur(20px);
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            width: 1400px;
            display: inline-block;
        }

        .header {
            background-color:aliceblue;
            color: white;
            text-align: center;
            padding: 40px;
            margin-right: 50%;
        }


        .section {
            align-items: first baseline;
            padding-top: 80px;
            padding-left:50px;
            border-image: round;
            text-align: center;
        }

        .branch {
            backdrop-filter:blur(20px);
            border: 1px solid #ccc;
            padding: 100px;
            margin: 10px;
            width: 500px;
            display: inline-block;
            color: aliceblue;
            text-align: center;
        }

        .branch h2 {
            color: aliceblue;
            text-align: center;
            font-size: 18px;
            margin: 5px 0;
        }

        .branch p {
            color: aliceblue;
            font-size: 14px;
            margin: 5px 0;
            text-align: center;

        }

        .year {
            color: aliceblue;
            border: 1px solid #eee;
            padding: 10px;
            margin: 5px;
            text-align: center;
        }

        .year h3 {
            font-size: 16px;
            margin: 5px 0;
        }
        .subject-link {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

        .image-container {
            margin: right 510%;
            float: left; 
            padding-right:0px;
            image-orientation: initial;
            border-image:round;
            width: 400px;

        }
    </style>
</head>
<body>
    <main>
        <section>
            <header>
                <div class="image-container">
                    <img src="https://i.pinimg.com/736x/70/e0/a1/70e0a193c34ba43e0c11dd28ee1067d1.jpg" width="150" height="100" alt="Welcome Image">
                </div>
                <div>
                    <h1>WELCOME TO VISHNU EDUCATIONAL BLOG</h1>
                    <h2>CIVIL ENGINEERING</h2>
                </div>
            </header>
        </section>
    </main>
    <div class="branch">
        <h1>CIVIL ENGINEERING (Civil)</h1>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication English</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLWPirh4EWFpHse06JObGNlWpSNpsKGpoC&si=WIGoZ_k6Yei5MHXy">Strength of materials</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PL9RcWoqXmzaLnlGN39w2-1jyFyI_ALVa3&si=01SnyzNzYZJtvpKt">fluid Mechanics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLZmv_MNQCMBjOX9qChv1LCNfqHyFP_4fU&si=1qlOBMHjQbC0X1RG">Highway engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLk7ptZcI9vmhN5ck8sQXWgSh_3RHYQjr3&si=I0ZOpbTsfReltE5o">Environmental engineering </a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLb2wGSuEdRG_aaWZLjwKtawNU1P0X63oK&si=1VqSVVJP1kslJ7eA">Geo-techincal engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLVkOk13Mys6Xpj5P1e6DTji5SPDwTQesj&si=kQj2NayIDjgQIGpN">Hydraulics&hydraulic machinery</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLbRMhDVUMngeiZjKPTPEFl1CByXmYX3Kv&si=IyuZBkP9m2blUCSK">Foundation engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLjtQ3BMex7hvh7pPtjwPDV17J-WaDX7Tl&si=luKHy0YoX4xiSM88">Transporation engineering</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLC_I54bNKujYt40v7tXyZe_oKhsctWeIZ&si=3Kzo26VHlZnPsWI4">Water resources engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLZmv_MNQCMBi7gXQe_bGAFPlrfM7qlX47&si=GoLYJV_QMmc7wiXd">Estimation&costing</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLmRuqPJhrsb5bO-AzYd5FXpxanomhYFGD&si=W0KUVMshYQAikm4u">Pre stressed concrete</a>.
            </p>
        </div>
    </div>
</body>
</html>