<!DOCTYPE html>
<html>
<head>
    <title>B.Tech CSE Department</title>
    <style>
        body {
        
         background-image: url('https://www.crio.do/blog/content/images/2020/09/Sep_01.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
          font-family: Arial, sans-serif;
         margin: 0px;
        padding: 0;
        }

        header {
            
            color:white;
            text-align: center;
            padding: 40px;
            padding-left: 50px;

        
        }

        .section {
            align-items: first baseline;
            padding-top: 80px;
            padding-left:50px;
            border-image: round;
            text-align: center;
            width: 100px;

        }

        .branch {
            backdrop-filter:blur(20px);
            border: 1px solid #ccc;
            padding: 100px;
            margin:auto;
            width: 30%;
            padding-left: 8%;
            display: inline-block;
            text-align: center;
            height: 400px;
            margin-left: 25%;
        }

        .branch h2 {
            font-size: 18px;
            margin: 5px 0;
            text-align: center;
        }

        .branch p {
            font-size: 14px;
            margin: 5px 0;
            text-align: center;
        }

        .year {
            border: 1px solid #eee;
            padding: 10px;
            margin: 5px;
            text-align: center;
        }

        .year h3 {
            font-size: 16px;
            margin: 5px 0;
            text-align: center;
        }
        .subject-link {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

        .image-container {
            margin: right 50%;
            float: left; 
            padding-right:0px;
            image-orientation: initial;
            border-image:round;

        }
    </style>
</head>
<body>
    <main>
        <section>
            <header>
                <div class="image-container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwO2AW37GjkZHMLhM9CY7A2dqW8MVGnd5IGQ&usqp=CAU" width="150",hight="40px"alt="Welcome Image">
                </div>
                <div>
                    <h1>WELCOME TO VISHNU EDUCATIONAL BLOG</h1>
                    <h2>Computer Science Branches</h2>
                </div>
            </header>
        </section>
    </main>

    <div class="branch">
        <h2>Computer Science Engineering (CSE)</h2>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication english</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>.
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLV8vIYTIdSnar4uzz-4TIlgyFJ2m18NE3&si=j1122pHMTAqs2ysm">Computer organization&architecture</a>,
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=Or5yJww53UHHl1Co">Data structures&algorithms</a>,
                <a class="subject-link" href="https://www.youtube.com/live/I_kuN-9A9x8?si=HHX9w5k46EMDpfx5">Software engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ&si=ePM5t3kWsWTM7vmq">Database management systems</a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLrjkTql3jnm-wW5XdvumCa1u9LjczipjA&si=47rNaPSyrk3n9E6n">Compiler design</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O&si=bANbV5K0-y84bPHu">Operating Systems</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx&si=Ach7-30IT6cOM1h4">Computer Networks</a>,
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=MTZcm0QsaRZRxNqr">Design&analysis of algorithms</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtu.be/WnMQ8HlmeXc?si=g2-Tyicm-6VA-io1">UML&DP</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLAwxTw4SYaPkMTetlG7xKWaI5ZAZFX8fL&si=2Ds1QA3-sJtl89tr">Software architecture</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgJU3EsOYDTW7m6SUmW6kII&si=rP-Z-ecqnHO5pRJc">Network security&cryptography</a>,
            </p>
        </div>
    </div>
</body>
</html><br>
    <div class="branch">
        <h2>Information Technology Engineering(IT)</h2>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication english</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>.
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://www.youtube.com/live/I_kuN-9A9x8?si=HHX9w5k46EMDpfx5">Software engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PL285AEB5731791842&si=JSGlBHwjfHOC2Y-z">Digital logic design</a>,
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=Or5yJww53UHHl1Co">Data structures&algorithms</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLV8vIYTIdSnar4uzz-4TIlgyFJ2m18NE3&si=j1122pHMTAqs2ysm">Computer organization&architecture</a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx&si=Ach7-30IT6cOM1h4">Computer networks</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O&si=bANbV5K0-y84bPHu">Operating systems</a>,
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=MTZcm0QsaRZRxNqr">Design&analysis of algorithms</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLV8vIYTIdSnbwIFENjqBK7yyAkSVSoLBC&si=Q6uvr8ECv18c86vz">Advanced java&web technologies</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLbMVogVj5nJRI_hU-0yxRyHTsCg4iXCEd&si=ppaOCKd6axklHuBf">Information theory&coding</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgJU3EsOYDTW7m6SUmW6kII&si=rP-Z-ecqnHO5pRJc">Network security&cryptography</a>,
                <a class="subject-link" href="https://www.youtube.com/live/eI2_y2I2E2s?si=Jd-j_LO_w1JKBMe_">Dev ops</a>.
            </p>
        </div>
    </div><br>
    <div class="branch">
        <h2>Computer Science and machine learning</h2>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication english</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>.
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtu.be/B31LgI4Y4DQ?si=Njijz4cJgz0YoNRn">Data structures</a>,
                <a class="subject-link" href="https://www.youtube.com/live/I_kuN-9A9x8?si=HHX9w5k46EMDpfx5">Software engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O&si=bANbV5K0-y84bPHu">Operating Systems</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ&si=ePM5t3kWsWTM7vmq">Database management systems</a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=MTZcm0QsaRZRxNqr">Design&analysis of algorithms</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLV8vIYTIdSnar4uzz-4TIlgyFJ2m18NE3&si=j1122pHMTAqs2ysm">Computer organization</a>,
                <a class="subject-link" href="https://www.youtube.com/live/CaqJ65CIoMw?si=8c5bofx8pY47Hkhr">Big data analytics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx&si=Ach7-30IT6cOM1h4">Computer networks</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLbMVogVj5nJRI_hU-0yxRyHTsCg4iXCEd&si=ppaOCKd6axklHuBf">Information theory&coding</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgJU3EsOYDTW7m6SUmW6kII&si=rP-Z-ecqnHO5pRJc">Network security&cryptography</a>,
                <a class="subject-link" href="https://www.youtube.com/live/eI2_y2I2E2s?si=Jd-j_LO_w1JKBMe_">Dev ops</a>.
            </p>
        </div>
    </div><br>
    <div class="branch">
        <h2>Computer Science and data science</h2>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication english</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>.
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtu.be/B31LgI4Y4DQ?si=Njijz4cJgz0YoNRn">Data structures</a>,
                <a class="subject-link" href="https://www.youtube.com/live/I_kuN-9A9x8?si=HHX9w5k46EMDpfx5">Software engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O&si=bANbV5K0-y84bPHu">Operating Systems</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ&si=ePM5t3kWsWTM7vmq">Database management systems</a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtu.be/8hly31xKli0?si=MTZcm0QsaRZRxNqr">Design&analysis of algorithms</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLV8vIYTIdSnar4uzz-4TIlgyFJ2m18NE3&si=j1122pHMTAqs2ysm">Computer organization</a>,
                <a class="subject-link" href="https://www.youtube.com/live/CaqJ65CIoMw?si=8c5bofx8pY47Hkhr">Big data analytics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx&si=Ach7-30IT6cOM1h4">Computer networks</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects:
                <a class="subject-link" href="https://youtube.com/playlist?list=PLbMVogVj5nJRI_hU-0yxRyHTsCg4iXCEd&si=ppaOCKd6axklHuBf">Information theory&coding</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLBlnK6fEyqRgJU3EsOYDTW7m6SUmW6kII&si=rP-Z-ecqnHO5pRJc">Network security&cryptography</a>,
                <a class="subject-link" href="https://www.youtube.com/live/eI2_y2I2E2s?si=Jd-j_LO_w1JKBMe_">Dev ops</a>.
            </p>
        </div>
    </div>
</body>
</html>