<!DOCTYPE html>
<html>
<head>
    <title>Deep Learning Resources</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            background-color: #0073e6;
            color:white;

        }

        h2 {
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Deep Learning Resources</h1>
        <p>Welcome to our Deep Learning resources page! Here are some useful resources to help you learn and dive into the world of deep learning:</p>

        <h2>Getting Started</h2>
        <ul>
            <li><a class="btn" href="https://www.deeplearning.ai/">Deep Learning Specialization on Coursera</a></li>
            <li><a class="btn" href="https://www.coursera.org/specializations/deep-learning">Deep Learning Specialization by Andrew Ng</a></li>
        </ul>

        <h2>YouTube Tutorials</h2>
        <ul>
            <li><a class="btn" href="https://youtube.com/playlist?list=PLEiEAq2VkUUIYQ-mMRAGilfOKyWKpHSip&si=9DXSION6HsIA_Qm8">Deep Learning with TensorFlow</a></li>
            <li><a class="btn" href="https://youtube.com/playlist?list=PLZoTAELRMXVPGU70ZGsckrMdr0FteeRUi&si=chGZAOK9wOch4ZzL">Deep Learning by Sentdex</a></li>
        </ul>

        <h2>Online Courses</h2>
        <ul>
            <li><a class="btn" href="https://www.coursera.org/specializations/deep-learning">Deep Learning Specialization on Coursera</a></li>
            <li><a class="btn" href="https://www.udacity.com/course/deep-learning-nanodegree--nd101">Deep Learning Nanodegree on Udacity</a></li>
        </ul>

        <h2>Books</h2>
        <ul>
            <li><a class="btn" href="https://www.deeplearningbook.org/">"Deep Learning" by Ian Goodfellow and Yoshua Bengio</a></li>
            <li><a class="btn" href="https://www.amazon.com/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1492032646">"Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow" by Aurélien Géron</a></li>
        </ul>

        <a class="btn" href="https://www.coursera.org/courses?query=deep%20learning">Explore More Deep Learning Courses</a>
    </div>
</body>
</html>
