<!DOCTYPE html>
<html>
<head>
    <title>Full-Stack Development Tutorial</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color:white;
            background-color: #0073e6;

        }
        header{
            color:white;
            background-color: #0073e6;

        }

        h2 {
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
        <h1>Full-Stack Development Tutorial</h1>
        </header>
        <p>Welcome to our Full-Stack Development tutorial! Here are some useful resources to help you learn full-stack development:</p>

        <h2>Getting Started</h2>
        <ul>
            <li><a class="btn" href="https://www.freecodecamp.org/news/the-complete-web-development-guide-25fd1fd83e09/">The Complete Web Development Guide</a></li>
            <li><a class="btn"href="https://developer.mozilla.org/en-US/docs/Web">MDN Web Docs</a></li>
        </ul>

        <h2>Front-End Development</h2>
        <ul>
            <li><a class="btn"href="https://www.w3schools.com/html/">HTML Tutorial</a></li>
            <li><a class="btn" href="https://www.w3schools.com/css/">CSS Tutorial</a></li>
            <li><a class="btn" href="https://www.w3schools.com/js/">JavaScript Tutorial</a></li>
        </ul>

        <h2>Back-End Development</h2>
        <ul>
            <li><a class="btn"class="btn"  href="https://nodejs.org/en/docs/">Node.js Documentation</a></li>
            <li><a class="btn"href="https://expressjs.com/">Express.js Framework</a></li>
            <li><a class="btn"href="https://www.mongodb.com/">MongoDB Database</a></li>
        </ul>

        <h2>Full-Stack Frameworks</h2>
        <ul>
            <li><a class="btn" href="https://reactjs.org/docs/getting-started.html">React.js</a></li>
            <li><a class="btn"href="https://vuejs.org/">Vue.js</a></li>
            <li><a class="btn"href="https://www.djangoproject.com/">Django (Python)</a></li>
        </ul>

        <a class="btn" href="https://www.coursera.org/specializations/full-stack-web-development">Coursera Full-Stack Web Development Specialization</a>
        <a class="btn" href="https://youtube.com/playlist?list=PLR2qQy0Zxs_WaC9BpQY9pWGDGNWwDNrg6&si=ceLdnf4nlsvB2CWs">YOUTUBE VIDEO LEARN MORE FOR FREE</a>
    </div>
</body>
</html>
