<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning Tutorial</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            background-color: #0073e6;
            color:white;

        }

        h2 {
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Machine Learning Tutorial</h1>
        <p>Welcome to our Machine Learning tutorial! Here are some useful resources to help you learn machine learning:</p>

        <h2>Getting Started</h2>
        <ul>
            <li><a class="btn" href="https://www.coursera.org/specializations/machine-learning">Machine Learning Specialization on Coursera</a></li>
            <li><a class="btn" href="https://www.edx.org/learn/machine-learning">Introduction to Machine Learning on edX</a></li>
        </ul>

        <h2>YouTube Tutorials</h2>
        <ul>
            <li><a class="btn" href="https://youtube.com/playlist?list=PLEiEAq2VkUULYYgj13YHUWmRePqiu8Ddy&si=2sJVNDupzXlI99rx">Machine Learning Fundamentals</a></li>
            <li><a class="btn" href="https://youtube.com/playlist?list=PLEiEAq2VkUULYYgj13YHUWmRePqiu8Ddy&si=kQpE19jZRDxwGNkS">Deep Learning Basics</a></li>
            <li><a class="btn" href="https://youtube.com/playlist?list=PLoROMvodv4rMiGQp3WXShtMGgzqpfVfbU&si=CzuteONNp_O1hblD">Machine Learning Algorithms</a></li>
        </ul>

        <h2>Online Courses</h2>
        <ul>
            <li><a class="btn" href="https://www.coursera.org/courses?query=machine%20learning">Machine Learning Courses on Coursera</a></li>
            <li><a class="btn" href="https://www.udemy.com/courses/search/?q=machine%20learning">Machine Learning Courses on Udemy</a></li>
        </ul>

        <h2>Free Resources</h2>
        <ul>
            <li><a class="btn" href="https://www.coursera.org/courses?query=machine%20learning">Free Machine Learning Books</a></li>
            <li><a class="btn" href="https://github.com/ujjwalkhandelwal/covid19/blob/master/covid.ipynb">Machine Learning Projects on GitHub</a></li>
        </ul>

        <a class="btn" href="https://www.kaggle.com/learn/machine-learning">Kaggle Machine Learning Tutorials</a>
    </div>
</body>
</html>
