<!DOCTYPE html>
<html>
<head>
    <title>B.Tech Mechanical Department</title>
    <style>
   body {
            background-image: url('https://www.visibility.com/hubfs/Canva%20images/Canva%20Design%20DAEdo90MROU.png'); 
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-right: 0%;
        }

        .branch {
            backdrop-filter:blur(20px);
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            width: 1400px;
            display: inline-block;
        }

        header {

            color: white;
            text-align: center;
            padding: 0px;
            margin-right: 30%;
            margin-left: 2%;
        }


        .section {
            align-items: first baseline;
            padding-top: 80px;
            padding-left:50px;
            border-image: round;
            text-align: center;
        }

        .branch {
            backdrop-filter:blur(20px);
            border: 1px solid #ccc;
            padding: 100px;
            margin: 10px;
            width: 500px;
            display: inline-block;
            color: aliceblue;
            text-align: center;
        }

        .branch h2 {
            color: aliceblue;
            text-align: center;
            font-size: 18px;
            margin: 5px 0;
        }

        .branch p {
            color: aliceblue;
            font-size: 14px;
            margin: 5px 0;
            text-align: center;

        }

        .year {
            color: aliceblue;
            border: 1px solid #eee;
            padding: 10px;
            margin: 5px;
            text-align: center;
        }

        .year h3 {
            font-size: 16px;
            margin: 5px 0;
        }
        .subject-link {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

        .image-container {
            margin: right 510%;
            float: left; 
            padding-right:0px;
            image-orientation: initial;
            border-image:round;
            width: 400px;

        }
</style>
</head>
<body>
<main>
    <section>
        <header>
            <div class="image-container">
                <img src="https://media1.thehungryjpeg.com/thumbs2/ori_3801290_qevna68xib09ccp830sf0hc2ob5d773es9zl2uiv_monogram-me-logo-design.jpg" width="150" height="100" alt="Welcome Image">
            </div>
            <div>
                <h1>WELCOME TO VISHNU EDUCATIONAL BLOG</h1>
                <h2>MECHANICAL ENGINEERING</h2>
            </div>
        </header>
    </section>
</main>
</head>
<body>
    <div class="branch">
        <h2>Mechanical Engineering(Mech)</h2>
        <div class="year">
            <h3>First Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvbKJaHKFw3ZYTp2Fc9cj2LwZtIbOd5ux&si=H6E0VfRAXrRDE2Nr">Communication English</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLvTTv60o7qj_tdY9zH7YceES7jfXiZkAz&si=Ekp8Sd6DdaToE97d">Mathematics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_xDK55XxYkj3SHVkFsYsHm&si=Bh0N-pwGioGdROo_">Physics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm9p_yaZ8zIW1LxkK7_n98gD&si=dmf9gmlalIL_BRB5">Chemistry</a>
            </p>
        </div>
        <div class="year">
            <h3>Second Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLjtQ3BMex7hvIuffqJ-zD6grphZta10VZ&si=ggi9WNCJdSpdOxeg">Thermodynamics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLIhUrsYr8yHzft7ygw5THZo4aDcsxEadP&si=2iWM3ecpmlFNYOke">Mechanics of solids</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLWPirh4EWFpGR5kjvxk_ZqopOtwdqS_uR&si=YKFxjbPT1H1S8IzJ">fluid Meachanics</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PL9RcWoqXmzaKlY_V5x74DJjogb_ZwiVpv&si=8toMBSOk0iF4Wo2L">Kinematics of machines</a>.
            </p>
        </div>
        <div class="year">
            <h3>Third Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm_K11-6dhaCc3cL6AlLQnW8&si=JFtlJUB60nbrFR8l">Dynamics of machinery</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLSJZETVyEssmc2CMU4E4c7TlA0gvwhS10&si=2hjmqflfF90oqahn">Automobile engineering</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLm_MSClsnwm8K7HRzHYPd_ljW_vHFzxlF&si=rMfc7hU7qReaG7Mh">Machine design</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PL9ooVrP1hQOGccfBbP5tJWZ1hv5sIUWJl&si=2mwYodEBcjiYIx07">Internet of things</a>.
            </p>
        </div>
        <div class="year">
            <h3>Fourth Year</h3>
            <p>Subjects: 
                <a class="subject-link" href="https://youtube.com/playlist?list=PLB8BC0AB0AD5DA4E2&si=5zn00fLcs_ZAERcn">Advanced machining processes</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLU6SqdYcYsfLyEPjMPHT_1ZhTRrnXA55R&si=8CjUQI9sPDQeRnRg">Operation research</a>,
                <a class="subject-link" href="https://youtube.com/playlist?list=PLQmc-I2-FO2GuQAfyyM5mVtE2uD9xtkTZ&si=CmcSsTLC75eSL9Nd">Power plant enginnering</a>.
            </p>
        </div>
    </div>
</body>
</html>