<!doctype html>
<html>
    <head>
        <style>
                  body {
          background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-creative-synthesis-simple-book-education-and-training-background-image_219497.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
        }
        .box{
            backdrop-filter: blur(20px);
            color:black;
            padding:10px;
            margin-right:auto;
            display: block;
            border-radius: 50px;
            margin-top:200px;
            margin-left:auto;
            margin-right:auto;
            display: block;
            border-radius: 50px;
            width:600px;
            height:250px;
            }

            .submitbutton{
                margin-left:auto;
                margin-right:auto;
                display:block;
                border-radius:20%;
                width:80px;
                height:40px;
                background-color:aqua;                   
            }
        </style>
    </head>
    <body>
        <div class="box">
        <h1>Signup Form........</h1>

        <form method="post" action="/signupsubmit" >
            Fullname :
            <input type="text" name="Fullname" />
            <br><br>
            Email id :
            <input type="Email" name="Email" />
            <br><br>
            Password:
            <input type="password" name="Password" /><br><br>
            <input type="submit" class="submitbutton" />

        </form>
    </div>
</body>
</html>